html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  margin: 2rem .2rem;
  text-align: center;
}

main {
  max-width: 60rem;
  margin: 0 auto;
}